.blog-entry {
    background-color: #22395d; 
    height: 200px;
    width: 1000px;
    color: white;
    padding: 10px;
    display: flex;
    flex: 1 3;
    border-radius: 20px ;
    box-shadow: 0 0 10px rgba(0,0,0,0);
    margin: 20px;
    


}

.blog-entry-left{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.blog-entry-left img{
    align-items: center;
    justify-content: center;
}

/* star css part */

.blog-entry-right{
    display: flex;
    flex-direction: column;
    /* padding: 5px; */
}

.blog-entry-right title{
    font-family: Arial, sans-serif;
    font-size: 24px;
    justify-content:flex-start;
    margin-bottom: 10px;
}

.title{
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #fff;

}


.blog-entry-right p{
    font-family: Arial, sans-serif;
    color: #fff;

}

.our-blog {
    font-family: Arial, sans-serif;
    font-size: 36px;
    color: #22395d;
    margin: 10px;  
    font-weight: bold;

    
}

.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
    justify-content: center;
    align-items: center;

}

