.review-box{
    /* background-color: #22395d;  */
        background-color: #1a2539; 


    height: 200px;
    width: 1000px;
    color: white;
    padding: 10px;
    display: flex;
    flex: 2 1;
    border-radius: 20px ;
    box-shadow: 0 0 10px rgba(0,0,0,0);
    margin: 20px;
    flex-direction: column;

    justify-content: left;


}

.review-top{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.review-bottom img{
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

/* star css part */

.review-bottom{
    display: flex;
    flex: 1 2 3;
    padding: 5px;
}

.review-bottom p{
    padding-left: 10px;
}

/* .review-top title{
    font-family: Arial, sans-serif;
    font-size: 24px;
    justify-content:flex-start;
    margin-bottom: 10px;
} */

.title{
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #fff;

}




.our-review {
    font-family: Arial, sans-serif;
    font-size: 36px;
    color: #22395d;
    font-weight: bold;
    margin: 10px;  
    justify-content: center;
    text-align: center;

    
}

 .flex-review-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 30px;
    /* justify-content: center; */
    /* align-items: start; */

} 



/* Align the 2nd and 4th .review-box to the right */
.flex-review-container .review-box:nth-of-type(2),
.flex-review-container .review-box:nth-of-type(4) {
    margin-left: auto;
    background-color: #1a2539ef;
}

.flex-review-container .review-box .review-bottom :nth-of-type(3){
    margin-left: auto;
}

