.carousel {
  display: flex;
  width: calc(200%); 
  animation: slide 20s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.carousel-image {
  width: 15%;
  height:auto;
  flex-shrink: 0;
  margin:0 10px; 
}
